<?xml version="1.0" encoding="utf-8"?>
<launch>

	<arg name="turtle_frame" default="camera_head" />
  	<arg name="reference_frame" default="marker_3" />
    	<param name="reference_frame" value="marker_3" />
    	<param name="turtle_frame" value="camera_head" />
    	
  	<node name="tf2_broadcaster" pkg="learning_tf2" type="tf2_broadcaster" output="screen" >
  	</node>
  	
  	
  	<!--
  	<param name="parent_frame" value="map" />
    	<param name="child_frame" value="camera_head" />
  	<node name="tf2_broadcaster" pkg="learning_tf2" type="tf2_staticbroadcaster" output="screen" >
  	</node>
  	-->
  	
  	<!--
  	<param name="reference_frame" value="marker_3" />
    	<param name="turtle_frame" value="camera_head" />
  	<node name="tf2_add_frame" pkg="learning_tf2" type="tf2_add_frame" output="screen" >
  	</node>
  	-->
  	

</launch>

